<div class="container">
    <section>
        <div class="row">
            <div class="col s6 m3">
                <player-tile [player]="player1" [activePlayer]="activePlayerId"></player-tile>
            </div>

            <div class="col s6 m3 offset-m6">
                <player-tile [player]="player2" [activePlayer]="activePlayerId"></player-tile>
            </div>
        </div>

    </section>

    <section>
        <div class="row center">
            <button class="waves-effect waves-light btn" (click)="startGame()">{{ button.title }}</button>
        </div>
    </section>

    <section>
        <div class="row center">
            <div class="col s12 m6 offset-m3">
                <board [board]="gameBoard" (tileClicked)="onTileClick($event, tile)" [gameOn]="gameOn"></board>
            </div>
        </div>
    </section>

    <section>
        <div class="row center">
            <messages-bar [messageKey]="messageKey"></messages-bar>
        </div>
    </section>

</div>