<div class="container">
    <section>
        <div class="row">
            <div class="col s6 m3">
                <player-tile [player]="player1"></player-tile>
            </div>

            <div class="col s6 m3 offset-m6">
                <player-tile [player]="player2"></player-tile>
            </div>
        </div>

    </section>

    <section>
        <div class="row center">
            <button class="waves-effect waves-light btn">Start</button>
        </div>
    </section>

    <section>
        <div class="row center">
            <div class="col s12 m6 offset-m3">
                <board [size]="size"></board>
            </div>
        </div>
    </section>

    <section>
        <div class="row center">
            <messages-bar></messages-bar>
        </div>
    </section>

</div>